@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap");

:root {
  --red: #ad0e1e;
}

* {
  font-family: "Edu VIC WA NT Beginner", cursive;
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.5s ease-in-out;
}

*::selection {
  background: var(--red);
  color: #c5c5c5;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  background: #f0f0f0;
}
section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  font-size: 3.5rem;
  padding: 1rem;
  color: #636363;
}

.heading span {
  color: var(--red);
}
.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: 0.3rem solid var(--red);
  color: var(--red);
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: var(--red);
  transition: 0.3s linear;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: rgb(220, 206, 112);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 2rem 7%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

header .logo {
  font-size: 2.5rem;
  font-weight: 800;
  color: rgb(220, 206, 112);
}

header .logo i {
  padding-right: 1rem;
  color: var(--red);
}

header .navbar a {
  font-size: 1.5rem;
  margin-left: 2rem;
  font-weight: 900;
  color: rgb(220, 206, 112);
}

header .navbar a:hover {
  color: var(--red);
}

#menu-bar {
  font-size: 3rem;
  cursor: pointer;
  color: #363636;
  border: 0.1rem solid #666;
  border-radius: 0.3rem;
  padding: 0.1rem 0.2rem;
  display: none;
}

.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  background: url(./images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  width: 100%;
  padding: 1rem;
  animation: float 1.5s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(4rem);
  }
}
.home .content h3 {
  font-size: 5rem;
  color: #333;
}
.home .content p {
  font-size: 1.5 rem;
  color: #656;
  padding: 1rem 0;
}

/* dark mnue start*/
.bg-black {
  background: #333 !important;
}

/* dark mnue start*/

.Speciality .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

.Speciality .box-container .box {
  flex: 1 1 30rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 0.5rem;
}

.Speciality .box-container .box .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -100%;
  left: 0;
}

.Speciality .box-container .box .content {
  text-align: center;
  background: rgb(220, 206, 112);
  padding: 2rem;
}

.Speciality .box-container .box .content img {
  margin: 1.5rem 0;
}

.Speciality .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.Speciality .box-container .box .content p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
}

.Speciality .box-container .box:hover .image {
  top: 0;
}

.Speciality .box-container .box:hover .content {
  transform: translateY(100%);
}

.popular .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.popular .box-container .box {
  padding: 2rem;
  background: #c1c1c1;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  text-align: center;
  flex: 1 1 30rem;
}

.popular .box-container .box img {
  height: 25rem;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
}

.popular .box-container .box .price {
  position: relative;
  top: 4rem;
  left: -12rem;
  background-color: var(--red);
  color: #c1c1c1;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.popular .box-container .box h3 {
  color: #333;
  font-size: 2.5rem;
  padding-top: 1rem;
}

.popular .box-container .box .stars .fas {
  color: gold;
  font-size: 1.7rem;
  padding: 1rem 0.1rem;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1rem 0;
}

.steps .box {
  flex: 1 1 25rem;
  padding: 1rem;
  text-align: center;
}

.steps .box img {
  border-radius: 50%;
  border: 1rem solid rgb(220, 206, 112);
}

.steps .box h3 {
  font-size: 2.5rem;
  color: #323;
  padding: 1rem 0;
}
/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
  selection {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #b7b7b7;
    border-top: 0.1rem solid rgba(245, 245, 245, 0.3);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    display: block;
    border: 0.2rem solid rgba(0, 0, 0, 0.3);
    border-left: 0.5rem solid var(--red);
    background: #fff;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 50%;
  }
}
